// Extending base variables
base-line-height ?=   1.5
base-border-radius ?= 3px

// Button output configuration
buttons-class-name ?=                   "btn"
buttons-line-height ?=                  base-line-height
buttons-border-radius ?=                base-border-radius

buttons-background ?=                   #f5f8fa
buttons-background-highlight ?=         #e3e5e5

buttons-primary-background ?=           #08c
buttons-primary-background-highlight ?= darken(buttons-primary-background, 10%)

buttons-info-background ?=              #5bc0de
buttons-info-background-highlight ?=    #2f96b4

buttons-success-background ?=           #62c462
buttons-success-background-highlight ?= #51a351

buttons-warning-background ?=           lighten(#f89406, 15%)
buttons-warning-background-highlight ?= #f89406

buttons-danger-background ?=            #ee5f5b
buttons-danger-background-highlight ?=  #bd362f

buttons-inverse-background ?=           #7a7c7c
buttons-inverse-background-highlight ?= #5f6060
