@import "config"

grid-generate-container()

	$grid-prefix = ""

	if grid-prefix and !support-for-bootstrap
		$grid-prefix = s("%s-", unquote(grid-prefix))

	.{$grid-prefix}container
		margin: 0 auto
		if support-for-ie and unit(grid-gutter-width) == "rem"
			padding: 0 rem(grid-gutter-width / 2)
		else
			padding: 0 (grid-gutter-width / 2)
		overflow: hidden

	.{$grid-prefix}row
		&,
		& > &
			if support-for-ie and unit(grid-gutter-width) == "rem"
				margin: 0 rem(grid-gutter-width * -0.5)
			else
				margin: 0 (grid-gutter-width * -0.5)
			display: block
			text-align: grid-alignment
			letter-spacing: -0.31em
			text-rendering: optimizespeed
		& > &
			margin: 0
			overflow: hidden
		> *
			text-align: left
			word-spacing: normal
			letter-spacing: normal
			text-rendering: auto
