// Support for Bootstrap grid system defaulting to false
support-for-bootstrap ?= false

// Support for old IE
support-for-ie ?= true

// Grid system specifics
grid-prefix       ?= "grid"
grid-alignment    ?= left
grid-gutter-width ?= 1.5rem
grid-force-suffix ?= false
