// Support for old IE
support-for-ie ?= true

// Base styles
base-line-height ?=   1.5
base-border-radius ?= 3px
base-font-family ?=   "Helvetica Neue", Helvetica, Arial, sans-serif
mono-font-family ?=   Monaco, Menlo, Consolas, "Courier New", monospace

// Code block styles
code-block-color ?=             #333
code-block-border ?=            #ccc
code-block-border-radius ?=     base-border-radius
code-block-background ?=        #f5f5f5
code-block-font-family ?=       mono-font-family
code-block-font-size ?=         95%
code-block-line-height ?=       base-line-height
code-block-scrobbable-height ?= 15.5em

// Inline code specific
code-block-code-color ?=      #c7254e
code-block-code-background ?= #f9f2f4

// Keyboard specific
code-block-kbd-font-family ?=   base-font-family
code-block-kbd-border-radius ?= code-block-border-radius
code-block-kbd-color ?=         code-block-color
code-block-kbd-border ?=        code-block-border
code-block-kbd-background ?=    code-block-background
