<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title>Default Typography</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="typography.css">
    <link rel="stylesheet" href="components/pinch-grid/grid.css">
    <style>
    </style>
  </head>
  <body>
    <div class="grid-container">
      <h1>Default Typography</h1>

      <p class="lead">"Ah, if you would only go on with us!  An agent of the Peninsular Company, you know, can't stop on the way!  You were only going to Bombay, and here you are in China.  America is not far off, and from America to Europe is only a step."</p>
      <p>Fix looked intently at his companion, whose countenance was as serene as possible, and laughed with him.  But Passepartout persisted in chaffing him by asking him if he made much by his present occupation.</p>

      <hr>

      <div class="grid-row">
        <div class="grid-span grid-tablet-span6 grid-desktop-span4"><h1>Heading 1</h1></div>
        <div class="grid-span grid-tablet-span6 grid-desktop-span4"><h2>Heading 2</h2></div>
        <div class="grid-span grid-tablet-span6 grid-desktop-span4"><h3>Heading 3</h3></div>
        <div class="grid-span grid-tablet-span6 grid-desktop-span4"><h4>Heading 4</h4></div>
        <div class="grid-span grid-tablet-span6 grid-desktop-span4"><h5>Heading 5</h5></div>
        <div class="grid-span grid-tablet-span6 grid-desktop-span4"><h6>Heading 6</h6></div>
      </div>

      <hr>

      <div class="grid-row">
        <div class="grid-span grid-tablet-span6 grid-desktop-span4">
          <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Integer molestie lorem at massa</li>
            <li>Facilisis in pretium nisl aliquet</li>
            <li>Nulla volutpat aliquam velit</li>
            <ul>
              <li>Phasellus iaculis neque</li>
              <li>Purus sodales ultricies</li>
              <li>Vestibulum laoreet porttitor sem</li>
              <li>Ac tristique libero volutpat at</li>
            </ul>
            <li>Faucibus porta lacus fringilla vel</li>
            <li>Aenean sit amet erat nunc</li>
            <li>Eget porttitor lorem</li>
          </ul>
        </div>
        <div class="grid-span grid-tablet-span6 grid-desktop-span4">
          <ul class="list-unstyled">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Integer molestie lorem at massa</li>
            <li>Facilisis in pretium nisl aliquet</li>
            <li>Nulla volutpat aliquam velit</li>
            <ul>
              <li>Phasellus iaculis neque</li>
              <li>Purus sodales ultricies</li>
              <li>Vestibulum laoreet porttitor sem</li>
              <li>Ac tristique libero volutpat at</li>
            </ul>
            <li>Faucibus porta lacus fringilla vel</li>
            <li>Aenean sit amet erat nunc</li>
            <li>Eget porttitor lorem</li>
          </ul>
        </div>
        <div class="grid-span grid-tablet-span6 grid-desktop-span4">
          <ol>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Integer molestie lorem at massa</li>
            <li>Facilisis in pretium nisl aliquet</li>
            <li>Nulla volutpat aliquam velit</li>
            <ol>
              <li>Phasellus iaculis neque</li>
              <li>Purus sodales ultricies</li>
              <li>Vestibulum laoreet porttitor sem</li>
              <li>Ac tristique libero volutpat at</li>
            </ol>
            <li>Faucibus porta lacus fringilla vel</li>
            <li>Aenean sit amet erat nunc</li>
            <li>Eget porttitor lorem</li>
          </ol>
        </div>
      </div>

      <hr>

      <div class="grid-row">
        <div class="grid-span12"><div class="text-left">Text align left</div></div>
        <div class="grid-span12"><div class="text-center">Text align center</div></div>
        <div class="grid-span12"><div class="text-right">Text align right</div></div>
      </div>

      <hr>

      <blockquote>
        <p>Art thou a silk-worm? Dost thou spin thy own shroud out of thyself? Look at thy bosom! Despatch! and get these traps out of sight.</p>
        <cite>Chapter 127. The Deck. - Chapter 128. The Pequod Meets The Rachel.</cite>
      </blockquote>

      <blockquote class="pull-right">
        <p>Art thou a silk-worm? Dost thou spin thy own shroud out of thyself? Look at thy bosom! Despatch! and get these traps out of sight.</p>
        <cite>Chapter 127. The Deck. - Chapter 128. The Pequod Meets The Rachel.</cite>
      </blockquote>

      <hr>

      <div class="grid-row">
        <div class="grid-span grid-tablet-span6">
          <dl>
            <dt>Description lists</dt>
            <dd>A description list is perfect for defining terms.</dd>
            <dt>Euismod</dt>
            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
            <dd>Donec id elit non mi porta gravida at eget metus.</dd>
            <dt>Malesuada porta</dt>
            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
          </dl>
        </div>
        <div class="grid-span grid-tablet-span6">
          <dl class="dl-horizontal">
            <dt>Description lists</dt>
            <dd>A description list is perfect for defining terms.</dd>
            <dt>Euismod</dt>
            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
            <dd>Donec id elit non mi porta gravida at eget metus.</dd>
            <dt>Malesuada porta</dt>
            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
            <dt>Felis euismod semper eget lacinia</dt>
            <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
          </dl>
        </div>
      </div>

      <hr>

      <p><span class="initialism">Default Typography</span> is a <abbr title="Cascading Style Sheets">CSS</abbr> stylesheet that has plenty of base font styles and typography decisions to help future development. Based on typographic decisions from <a href="file://localhost/Users/blakeembrey/Projects/bootstrap/docs/css.html#typography">Twitter Bootstrap</a>, the module is <em>self-contained</em> and can <strong>easily</strong> be dropped into <mark>any framework</mark>. There are even a bunch of useful resets and helpful utility classes for text, including <sub>subscript</sub> and <sup>subscript</sup>.</p>

      <hr>

      <div class="grid-row">
        <address class="grid-span grid-tablet-span6">
          <strong>Apple, Inc.</strong><br>
          1 Infinite Loop<br>
          Cupertino, CA 95014<br>
          <abbr title="Phone">P:</abbr> (408) 996-1010
        </address>
        <div class="grid-span grid-tablet-span6">
          <p><small>This line of text is meant to be treated as fine print.</small></p>
        </div>
      </div>
    </div>
  </body>
</html>
