.btn,
.btn-primary,
.btn-info,
.btn-success,
.btn-warning,
.btn-danger,
.btn-inverse {
  display: inline-block;
  position: relative;
  padding: 0.25em 0.8em;
  border: 1px solid rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5;
  height: 2.125em;
}
.btn,
.btn-primary,
.btn-info,
.btn-success,
.btn-warning,
.btn-danger,
.btn-inverse,
.btn.disabled,
.btn-primary.disabled,
.btn-info.disabled,
.btn-success.disabled,
.btn-warning.disabled,
.btn-danger.disabled,
.btn-inverse.disabled,
.btn[disabled],
.btn-primary[disabled],
.btn-info[disabled],
.btn-success[disabled],
.btn-warning[disabled],
.btn-danger[disabled],
.btn-inverse[disabled],
.btn.disabled:hover,
.btn-primary.disabled:hover,
.btn-info.disabled:hover,
.btn-success.disabled:hover,
.btn-warning.disabled:hover,
.btn-danger.disabled:hover,
.btn-inverse.disabled:hover,
.btn[disabled]:hover,
.btn-primary[disabled]:hover,
.btn-info[disabled]:hover,
.btn-success[disabled]:hover,
.btn-warning[disabled]:hover,
.btn-danger[disabled]:hover,
.btn-inverse[disabled]:hover,
.btn.disabled:active,
.btn-primary.disabled:active,
.btn-info.disabled:active,
.btn-success.disabled:active,
.btn-warning.disabled:active,
.btn-danger.disabled:active,
.btn-inverse.disabled:active,
.btn[disabled]:active,
.btn-primary[disabled]:active,
.btn-info[disabled]:active,
.btn-success[disabled]:active,
.btn-warning[disabled]:active,
.btn-danger[disabled]:active,
.btn-inverse[disabled]:active,
.btn.disabled.active,
.btn-primary.disabled.active,
.btn-info.disabled.active,
.btn-success.disabled.active,
.btn-warning.disabled.active,
.btn-danger.disabled.active,
.btn-inverse.disabled.active,
.btn[disabled].active,
.btn-primary[disabled].active,
.btn-info[disabled].active,
.btn-success[disabled].active,
.btn-warning[disabled].active,
.btn-danger[disabled].active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-inverse,
.btn-primary,
.btn-info,
.btn-success,
.btn-warning,
.btn-danger,
.btn-inverse {
  color: #454545;
  text-shadow: 0 -1px 0 #e3e5e5;
  border-color: #9ca3a3;
  background-color: #f5f8fa;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f8fa), color-stop(1, #e3e5e5));
  background-image: -webkit-linear-gradient(top, #f5f8fa 0%, #e3e5e5 100%);
  background-image: -moz-linear-gradient(top, #f5f8fa 0%, #e3e5e5 100%);
  background-image: -o-linear-gradient(top, #f5f8fa 0%, #e3e5e5 100%);
  background-image: -ms-linear-gradient(top, #f5f8fa 0%, #e3e5e5 100%);
  background-image: linear-gradient(top, #f5f8fa 0%, #e3e5e5 100%);
  background-repeat: repeat-x;
}
.btn:hover,
.btn-primary:hover,
.btn-info:hover,
.btn-success:hover,
.btn-warning:hover,
.btn-danger:hover,
.btn-inverse:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6f8fa), color-stop(1, #e5e7e7));
  background-image: -webkit-linear-gradient(top, #f6f8fa 0%, #e5e7e7 100%);
  background-image: -moz-linear-gradient(top, #f6f8fa 0%, #e5e7e7 100%);
  background-image: -o-linear-gradient(top, #f6f8fa 0%, #e5e7e7 100%);
  background-image: -ms-linear-gradient(top, #f6f8fa 0%, #e5e7e7 100%);
  background-image: linear-gradient(top, #f6f8fa 0%, #e5e7e7 100%);
}
.btn:active,
.btn-primary:active,
.btn-info:active,
.btn-success:active,
.btn-warning:active,
.btn-danger:active,
.btn-inverse:active,
.btn.active,
.btn-primary.active,
.btn-info.active,
.btn-success.active,
.btn-warning.active,
.btn-danger.active,
.btn-inverse.active {
  color: #454545;
  background-color: #e3e5e5;
  background-image: none;
}
.btn:hover,
.btn-primary:hover,
.btn-info:hover,
.btn-success:hover,
.btn-warning:hover,
.btn-danger:hover,
.btn-inverse:hover,
.btn:active,
.btn-primary:active,
.btn-info:active,
.btn-success:active,
.btn-warning:active,
.btn-danger:active,
.btn-inverse:active {
  text-decoration: none;
}
.btn:active,
.btn-primary:active,
.btn-info:active,
.btn-success:active,
.btn-warning:active,
.btn-danger:active,
.btn-inverse:active,
.btn.active,
.btn-primary.active,
.btn-info.active,
.btn-success.active,
.btn-warning.active,
.btn-danger.active,
.btn-inverse.active {
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}
.btn:focus,
.btn-primary:focus,
.btn-info:focus,
.btn-success:focus,
.btn-warning:focus,
.btn-danger:focus,
.btn-inverse:focus {
  outline: 0;
  border-color: #000;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
}
.btn.disabled,
.btn-primary.disabled,
.btn-info.disabled,
.btn-success.disabled,
.btn-warning.disabled,
.btn-danger.disabled,
.btn-inverse.disabled,
.btn[disabled],
.btn-primary[disabled],
.btn-info[disabled],
.btn-success[disabled],
.btn-warning[disabled],
.btn-danger[disabled],
.btn-inverse[disabled],
fieldset[disabled] .btn,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-inverse {
  cursor: default;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
}
.btn.btn-quiet,
.btn-primary.btn-quiet,
.btn-info.btn-quiet,
.btn-success.btn-quiet,
.btn-warning.btn-quiet,
.btn-danger.btn-quiet,
.btn-inverse.btn-quiet,
.btn.btn-quiet:hover,
.btn-primary.btn-quiet:hover,
.btn-info.btn-quiet:hover,
.btn-success.btn-quiet:hover,
.btn-warning.btn-quiet:hover,
.btn-danger.btn-quiet:hover,
.btn-inverse.btn-quiet:hover,
.btn.btn-quiet.disabled,
.btn-primary.btn-quiet.disabled,
.btn-info.btn-quiet.disabled,
.btn-success.btn-quiet.disabled,
.btn-warning.btn-quiet.disabled,
.btn-danger.btn-quiet.disabled,
.btn-inverse.btn-quiet.disabled,
.btn.btn-quiet[disabled],
.btn-primary.btn-quiet[disabled],
.btn-info.btn-quiet[disabled],
.btn-success.btn-quiet[disabled],
.btn-warning.btn-quiet[disabled],
.btn-danger.btn-quiet[disabled],
.btn-inverse.btn-quiet[disabled],
.btn.btn-quiet.disabled:hover,
.btn-primary.btn-quiet.disabled:hover,
.btn-info.btn-quiet.disabled:hover,
.btn-success.btn-quiet.disabled:hover,
.btn-warning.btn-quiet.disabled:hover,
.btn-danger.btn-quiet.disabled:hover,
.btn-inverse.btn-quiet.disabled:hover,
.btn.btn-quiet[disabled]:hover,
.btn-primary.btn-quiet[disabled]:hover,
.btn-info.btn-quiet[disabled]:hover,
.btn-success.btn-quiet[disabled]:hover,
.btn-warning.btn-quiet[disabled]:hover,
.btn-danger.btn-quiet[disabled]:hover,
.btn-inverse.btn-quiet[disabled]:hover,
.btn.btn-quiet.disabled:active,
.btn-primary.btn-quiet.disabled:active,
.btn-info.btn-quiet.disabled:active,
.btn-success.btn-quiet.disabled:active,
.btn-warning.btn-quiet.disabled:active,
.btn-danger.btn-quiet.disabled:active,
.btn-inverse.btn-quiet.disabled:active,
.btn.btn-quiet[disabled]:active,
.btn-primary.btn-quiet[disabled]:active,
.btn-info.btn-quiet[disabled]:active,
.btn-success.btn-quiet[disabled]:active,
.btn-warning.btn-quiet[disabled]:active,
.btn-danger.btn-quiet[disabled]:active,
.btn-inverse.btn-quiet[disabled]:active,
fieldset[disabled] .btn.btn-quiet,
fieldset[disabled] .btn-primary.btn-quiet,
fieldset[disabled] .btn-info.btn-quiet,
fieldset[disabled] .btn-success.btn-quiet,
fieldset[disabled] .btn-warning.btn-quiet,
fieldset[disabled] .btn-danger.btn-quiet,
fieldset[disabled] .btn-inverse.btn-quiet {
  background-image: none;
}
.btn.btn-pill,
.btn-primary.btn-pill,
.btn-info.btn-pill,
.btn-success.btn-pill,
.btn-warning.btn-pill,
.btn-danger.btn-pill,
.btn-inverse.btn-pill {
  -webkit-border-radius: 9em;
  border-radius: 9em;
}
.btn,
.btn-primary,
.btn-info,
.btn-success,
.btn-warning,
.btn-danger,
.btn-inverse {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  text-transform: none;
}
.btn::-moz-focus-inner,
.btn-primary::-moz-focus-inner,
.btn-info::-moz-focus-inner,
.btn-success::-moz-focus-inner,
.btn-warning::-moz-focus-inner,
.btn-danger::-moz-focus-inner,
.btn-inverse::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.btn-mini {
  font-size: 70%;
}
.btn-small {
  font-size: 85%;
}
.btn-large {
  font-size: 115%;
}
.btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary {
  color: #fdfdfd;
  text-shadow: 0 -1px 0 #007ab8;
  border-color: #005581;
  background-color: #08c;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #08c), color-stop(1, #007ab8));
  background-image: -webkit-linear-gradient(top, #08c 0%, #007ab8 100%);
  background-image: -moz-linear-gradient(top, #08c 0%, #007ab8 100%);
  background-image: -o-linear-gradient(top, #08c 0%, #007ab8 100%);
  background-image: -ms-linear-gradient(top, #08c 0%, #007ab8 100%);
  background-image: linear-gradient(top, #08c 0%, #007ab8 100%);
  background-repeat: repeat-x;
}
.btn-primary:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0096e1), color-stop(1, #0089cf));
  background-image: -webkit-linear-gradient(top, #0096e1 0%, #0089cf 100%);
  background-image: -moz-linear-gradient(top, #0096e1 0%, #0089cf 100%);
  background-image: -o-linear-gradient(top, #0096e1 0%, #0089cf 100%);
  background-image: -ms-linear-gradient(top, #0096e1 0%, #0089cf 100%);
  background-image: linear-gradient(top, #0096e1 0%, #0089cf 100%);
}
.btn-primary:active,
.btn-primary.active {
  color: #fdfdfd;
  background-color: #007ab8;
  background-image: none;
}
.btn-info,
.btn-info.disabled,
.btn-info[disabled],
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
.btn-info.disabled:active,
.btn-info[disabled]:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info {
  color: #fdfdfd;
  text-shadow: 0 -1px 0 #2f96b4;
  border-color: #21697e;
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5bc0de), color-stop(1, #2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2f96b4 100%);
  background-image: -moz-linear-gradient(top, #5bc0de 0%, #2f96b4 100%);
  background-image: -o-linear-gradient(top, #5bc0de 0%, #2f96b4 100%);
  background-image: -ms-linear-gradient(top, #5bc0de 0%, #2f96b4 100%);
  background-image: linear-gradient(top, #5bc0de 0%, #2f96b4 100%);
  background-repeat: repeat-x;
}
.btn-info:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #66c4e0), color-stop(1, #33a3c4));
  background-image: -webkit-linear-gradient(top, #66c4e0 0%, #33a3c4 100%);
  background-image: -moz-linear-gradient(top, #66c4e0 0%, #33a3c4 100%);
  background-image: -o-linear-gradient(top, #66c4e0 0%, #33a3c4 100%);
  background-image: -ms-linear-gradient(top, #66c4e0 0%, #33a3c4 100%);
  background-image: linear-gradient(top, #66c4e0 0%, #33a3c4 100%);
}
.btn-info:active,
.btn-info.active {
  color: #fdfdfd;
  background-color: #2f96b4;
  background-image: none;
}
.btn-success,
.btn-success.disabled,
.btn-success[disabled],
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
.btn-success.disabled:active,
.btn-success[disabled]:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success {
  color: #fdfdfd;
  text-shadow: 0 -1px 0 #51a351;
  border-color: #397239;
  background-color: #62c462;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #62c462), color-stop(1, #51a351));
  background-image: -webkit-linear-gradient(top, #62c462 0%, #51a351 100%);
  background-image: -moz-linear-gradient(top, #62c462 0%, #51a351 100%);
  background-image: -o-linear-gradient(top, #62c462 0%, #51a351 100%);
  background-image: -ms-linear-gradient(top, #62c462 0%, #51a351 100%);
  background-image: linear-gradient(top, #62c462 0%, #51a351 100%);
  background-repeat: repeat-x;
}
.btn-success:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6dc86d), color-stop(1, #5aad5a));
  background-image: -webkit-linear-gradient(top, #6dc86d 0%, #5aad5a 100%);
  background-image: -moz-linear-gradient(top, #6dc86d 0%, #5aad5a 100%);
  background-image: -o-linear-gradient(top, #6dc86d 0%, #5aad5a 100%);
  background-image: -ms-linear-gradient(top, #6dc86d 0%, #5aad5a 100%);
  background-image: linear-gradient(top, #6dc86d 0%, #5aad5a 100%);
}
.btn-success:active,
.btn-success.active {
  color: #fdfdfd;
  background-color: #51a351;
  background-image: none;
}
.btn-warning,
.btn-warning.disabled,
.btn-warning[disabled],
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning {
  color: #fdfdfd;
  text-shadow: 0 -1px 0 #f89406;
  border-color: #ae6804;
  background-color: #faa42b;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #faa42b), color-stop(1, #f89406));
  background-image: -webkit-linear-gradient(top, #faa42b 0%, #f89406 100%);
  background-image: -moz-linear-gradient(top, #faa42b 0%, #f89406 100%);
  background-image: -o-linear-gradient(top, #faa42b 0%, #f89406 100%);
  background-image: -ms-linear-gradient(top, #faa42b 0%, #f89406 100%);
  background-image: linear-gradient(top, #faa42b 0%, #f89406 100%);
  background-repeat: repeat-x;
}
.btn-warning:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #faaa3a), color-stop(1, #f99c17));
  background-image: -webkit-linear-gradient(top, #faaa3a 0%, #f99c17 100%);
  background-image: -moz-linear-gradient(top, #faaa3a 0%, #f99c17 100%);
  background-image: -o-linear-gradient(top, #faaa3a 0%, #f99c17 100%);
  background-image: -ms-linear-gradient(top, #faaa3a 0%, #f99c17 100%);
  background-image: linear-gradient(top, #faaa3a 0%, #f99c17 100%);
}
.btn-warning:active,
.btn-warning.active {
  color: #fdfdfd;
  background-color: #f89406;
  background-image: none;
}
.btn-danger,
.btn-danger.disabled,
.btn-danger[disabled],
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger {
  color: #fdfdfd;
  text-shadow: 0 -1px 0 #bd362f;
  border-color: #842621;
  background-color: #ee5f5b;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ee5f5b), color-stop(1, #bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b 0%, #bd362f 100%);
  background-image: -moz-linear-gradient(top, #ee5f5b 0%, #bd362f 100%);
  background-image: -o-linear-gradient(top, #ee5f5b 0%, #bd362f 100%);
  background-image: -ms-linear-gradient(top, #ee5f5b 0%, #bd362f 100%);
  background-image: linear-gradient(top, #ee5f5b 0%, #bd362f 100%);
  background-repeat: repeat-x;
}
.btn-danger:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ef6a66), color-stop(1, #cc3a33));
  background-image: -webkit-linear-gradient(top, #ef6a66 0%, #cc3a33 100%);
  background-image: -moz-linear-gradient(top, #ef6a66 0%, #cc3a33 100%);
  background-image: -o-linear-gradient(top, #ef6a66 0%, #cc3a33 100%);
  background-image: -ms-linear-gradient(top, #ef6a66 0%, #cc3a33 100%);
  background-image: linear-gradient(top, #ef6a66 0%, #cc3a33 100%);
}
.btn-danger:active,
.btn-danger.active {
  color: #fdfdfd;
  background-color: #bd362f;
  background-image: none;
}
.btn-inverse,
.btn-inverse.disabled,
.btn-inverse[disabled],
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse {
  color: #fdfdfd;
  text-shadow: 0 -1px 0 #5f6060;
  border-color: #434343;
  background-color: #7a7c7c;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7a7c7c), color-stop(1, #5f6060));
  background-image: -webkit-linear-gradient(top, #7a7c7c 0%, #5f6060 100%);
  background-image: -moz-linear-gradient(top, #7a7c7c 0%, #5f6060 100%);
  background-image: -o-linear-gradient(top, #7a7c7c 0%, #5f6060 100%);
  background-image: -ms-linear-gradient(top, #7a7c7c 0%, #5f6060 100%);
  background-image: linear-gradient(top, #7a7c7c 0%, #5f6060 100%);
  background-repeat: repeat-x;
}
.btn-inverse:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #838585), color-stop(1, #6a6b6b));
  background-image: -webkit-linear-gradient(top, #838585 0%, #6a6b6b 100%);
  background-image: -moz-linear-gradient(top, #838585 0%, #6a6b6b 100%);
  background-image: -o-linear-gradient(top, #838585 0%, #6a6b6b 100%);
  background-image: -ms-linear-gradient(top, #838585 0%, #6a6b6b 100%);
  background-image: linear-gradient(top, #838585 0%, #6a6b6b 100%);
}
.btn-inverse:active,
.btn-inverse.active {
  color: #fdfdfd;
  background-color: #5f6060;
  background-image: none;
}
.btn-block {
  width: 100%;
}
.btn-block + .btn {
  margin-top: 1.5em;
}
