form {
  margin: 0 0 1.5em;
}
fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}
legend {
  display: block;
  width: 100%;
  border: 0;
  margin: 0 0 0.75em;
  padding: 0;
  color: #999;
  font-size: 1.5em;
  line-height: 2.25em;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  margin-bottom: 0.35em;
  font-weight: bold;
}
input,
select,
textarea {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,
select,
textarea {
  display: inline-block;
  width: 100%;
  padding: 0.25em 0.45em;
  margin: 0 0 0.75em;
  border: 1px solid #b1b1b1;
  min-height: 2.125em;
  color: #555;
  font-size: 100%;
  font-family: inherit;
  text-transform: none;
  background: #fdfdfd;
  border-radius: 3px;
  transition-property: color, border, border-color, background, background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
select {
  height: 2.125em;
}
input[type="file"],
input[type="image"],
input[type="reset"],
input[type="radio"],
input[type="submit"],
input[type="button"],
input[type="checkbox"] {
  width: auto;
}
input,
textarea {
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
input:focus,
textarea:focus {
  outline: 0;
  border: 1px solid #52a8ec;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0.3em 0 0;
  margin-top: 1px 9;
  min-height: auto;
  line-height: normal;
}
textarea,
select[size],
select[multiple] {
  padding: 0.45em;
  height: auto;
  min-height: auto;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
}
.control-group {
  margin-bottom: 0.75em;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #b5b5b5;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #b5b5b5;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #b5b5b5;
}
.radio,
.checkbox {
  display: block;
  min-height: 1.5em;
  padding-left: 1.4em;
  margin-bottom: 0.75em;
}
.radio label,
.checkbox label {
  margin-bottom: 0;
  font-weight: normal;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"],
.radio-inline input[type="radio"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -1.4em;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -0.375em;
}
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-top: 0.35em;
  padding-left: 1.4em;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 0.7em;
}
.input-small {
  font-size: 0.8em;
  border-radius: 2px;
}
.input-large {
  font-size: 1.5em;
  border-radius: 6px;
}
input[disabled],
button[disabled],
select[disabled],
textarea[disabled],
input[readonly],
button[readonly],
select[readonly],
textarea[readonly],
fieldset[disabled] input,
fieldset[disabled] button,
fieldset[disabled] select,
fieldset[disabled] textarea {
  cursor: not-allowed;
  opacity: 0.65;
  background: #fdfdfd;
  pointer-events: none;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  background-color: transparent;
}
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #8f2424;
  border-color: #d14848;
  background-color: #faebeb;
}
.has-success .help-block,
.has-success .help-inline,
.has-success .control-label {
  color: #468847;
}
.has-success .input-with-feedback {
  border-color: #468847;
}
.has-success .input-with-feedback:focus,
.has-success .input-with-feedback.focused {
  color: #468847;
  background-color: #dff0d8;
}
.has-warning .help-block,
.has-warning .help-inline,
.has-warning .control-label {
  color: #c09853;
}
.has-warning .input-with-feedback {
  border-color: #c09853;
}
.has-warning .input-with-feedback:focus,
.has-warning .input-with-feedback.focused {
  color: #c09853;
  background-color: #fcf8e3;
}
.has-error .help-block,
.has-error .help-inline,
.has-error .control-label {
  color: #8f2424;
}
.has-error .input-with-feedback {
  border-color: #d14848;
}
.has-error .input-with-feedback:focus,
.has-error .input-with-feedback.focused {
  color: #8f2424;
  background-color: #faebeb;
}
.form-actions {
  padding: 1.35em 1.4em 1.5em;
  margin: 1.125em 0 0;
  border-top: 1px solid #ddd;
  box-shadow: inset 0 1px 0 #fff;
  background: #f5f5f5;
  zoom: 1;
}
.form-actions:before,
.form-actions:after {
  content: "";
  display: table;
}
.form-actions:after {
  clear: both;
}
.help-block,
.help-inline {
  color: #858585;
  margin: 0.3em 0;
  vertical-align: top;
}
.help-block {
  display: block;
}
.help-inline {
  display: inline-block;
  padding: 0 0.3em;
}
