base-font-size     ?= 100%
base-text-color    ?= #666
base-line-height   ?= 1.5
base-border-radius ?= 3px

form-legend-color ?= #999
form-help-color   ?= lighten(base-text-color, 20%)

form-actions-background ?= #f5f5f5

form-input-color         ?= #555
form-input-background    ?= #fdfdfd
form-input-border        ?= darken(form-input-background, 30%)
form-input-border-active ?= #52a8ec
form-input-border-radius ?= base-border-radius

form-input-placeholder-color ?= #b5b5b5

form-input-font-size-small     ?= 0.8em
form-input-border-radius-small ?= 2px
form-input-font-size-large     ?= 1.5em
form-input-border-radius-large ?= 6px

form-input-opacity-disabled    ?= 0.65 // Use opacity by default
form-input-background-disabled ?= form-input-background

// Colors
form-input-danger-color       ?= #8f2424
form-input-danger-border      ?= #d14848
form-input-danger-background  ?= #faebeb

form-input-warning-color      ?= #c09853
form-input-warning-border     ?= form-input-warning-color
form-input-warning-background ?= #fcf8e3

form-input-success-color      ?= #468847
form-input-success-border     ?= form-input-success-color
form-input-success-background ?= #dff0d8
