<div class="grid-container">
  <div class="grid-row">
    <form class="grid-span" action="/" method="get">
      <legend>{{ title }}</legend>
      <label for="url">Make the article readable:</label>
      <div class="grid-row">
        <div class="grid-span9">
          <input type="url" name="url" placeholder="http://example.com" id="url" autofocus>
        </div>
        <div class="grid-span3">
          <button type="submit" class="btn grid-span">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
