// All the base variables
base-text-color ?= #666
base-background ?= white

base-font-size ?=   100%
base-line-height ?= 1.5
base-font-family ?= "Helvetica Neue", Helvetica, Arial, sans-serif

base-hr-border ?= #dfe2e2

base-link-color ?=       #d90000
base-link-color-hover ?= black

base-heading-color ?=        #555
base-heading-font-family ?=  inherit
base-heading-font-weight ?=  500

base-horizontal-component-offset ?= 11.25em
